<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eye Can See Optical - Patient Records</title>

    <!-- Custom fonts for this templates -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/img/icon logo.png" type="image/png">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this templates -->
    <link href="static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <img src="static/img/eye can see - logo.png" alt="Eye Can See" class="navbar-logo" />
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

             <!-- Nav Item - Appointment -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('appointments') }}">
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointment</span></a>
            </li>
              
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Patient Records -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('patient_records') }}">
                    <i class="fas fa-user"></i>
                    <span>Patient Records</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Invoice & Payments -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('invoices') }}">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>Invoice & Payments</span></a>
            </li>

            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('choose_frame') }}">
                <i class="fas fa-tachometer-alt"></i>
                <span>Choose Eye Frame</span>
            </a>
             </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header" style="background-color: #9C2627;">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header" style="background-color: #9C2627;">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="static/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="static/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="static/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hannah Archivido</span>
                                <img class="img-profile rounded-circle"
                                    src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-900">PATIENT RECORDS</h1>
                    </div>

                    <!-- Content Row -->  
                    <div class="row mb-4">  
                        <div class="d-flex align-items-start flex-wrap w-100">  

                            <!-- Card for Status Filters -->  
                           <div class="card p-2 me-auto">
                                <div class="btn-group" role="group" aria-label="Status Filter">
                                    <a href="/patients" class="btn btn-primary {{ 'active' if status == 'All' else '' }}">All</a>
                                    <a href="/patients?status=New" class="btn btn-secondary {{ 'active' if status == 'New' else '' }}">New</a>
                                    <a href="/patients?status=Returning" class="btn btn-secondary {{ 'active' if status == 'Returning' else '' }}">Returning</a>
                                </div>
                           </div>

                            <!-- Modal -->
                            <div class="modal fade" id="newPatientModal" tabindex="-1" role="dialog" aria-labelledby="newPatientModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <form id="newPatientForm" method="POST" action="/add_patient"> <!-- Adjust action URL -->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="newPatientModalLabel"><strong>Add New Patient</strong></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>

                                    <div class="modal-body" style="background-color: #FEF5F3;">
                                      <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="patient_fname"><strong>First Name</strong></label>
                                          <input type="text" class="form-control" id="patient_fname" name="patient_fname" placeholder="Enter patient first name" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="patient_minitial"><strong>Middle Initial</strong></label>
                                          <input type="text" class="form-control" id="patient_minitial" name="patient_minitial" maxlength="1" placeholder="Optional">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="patient_lname"><strong>Last Name</strong></label>
                                          <input type="text" class="form-control" id="patient_lname" name="patient_lname" placeholder="Enter patient last name" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="email"><strong>Email</strong></label>
                                          <input type="email" class="form-control" id="email" name="email" placeholder="Enter patient email" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="age"><strong>Age</strong></label>
                                          <input type="number" class="form-control" id="age" name="age" min="0" max="120" placeholder="Enter age" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="birthday"><strong>Birthday</strong></label>
                                          <input type="date" class="form-control" id="birthday" name="birthday" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="gender"><strong>Gender</strong></label>
                                          <select class="form-control" id="gender" name="gender" required>
                                            <option value="" selected disabled>Select Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="contact_details"><strong>Contact Details</strong></label>
                                          <input type="text" class="form-control" id="contact_details" name="contact_details" placeholder="Enter patient contact number" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="province"><strong>Province</strong></label>
                                          <input type="text" class="form-control" id="province" name="province" placeholder="Enter patient province" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="city"><strong>City/Municipality</strong></label>
                                          <input type="text" class="form-control" id="city" name="city" placeholder="Enter patient city/municipality" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="barangay"><strong>Barangay</strong></label>
                                          <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Enter patient barangay" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="street"><strong>Street</strong></label>
                                          <input type="text" class="form-control" id="street" name="street" placeholder="Enter patient street" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="occupation"><strong>Occupation</strong></label>
                                          <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Enter patient occupation" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="date"><strong>Date</strong></label>
                                          <input type="date" class="form-control" id="date" name="date" required>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-primary">Add Patient</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>  
                    </div>  

                    <!-- DataTales Example -->  
                    <div class="card shadow mb-4">  
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-red">Patient Records</h6>
                             <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#newPatientModal">
                                      + New Patient
                             </button>
                        </div>  
                        <div class="card-body">  
                            <div class="table-responsive">  
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">  
                                    <thead>  
                                        <tr>
                                            <th>Patient ID</th>
                                            <th>Patient First Name</th>
                                            <th>Patient Middle Initial</th>
                                            <th>Patient Last Name</th>
                                            <th>Email</th>
                                            <th>Age</th>
                                            <th>Birthday</th>
                                            <th>Gender</th>
                                            <th>Contact Details</th>
                                            <th>Province</th>
                                            <th>City/Municipality</th>
                                            <th>Barangay</th>
                                            <th>Street</th>
                                            <th>Status</th>
                                            <th>Occupation</th>
                                            <th>Date</th>
                                            <th>Number of Visit</th>
                                        </tr>  
                                    </thead>  
                                    <tfoot>  
                                        <tr>
                                            <th>Patient ID</th>
                                            <th>Patient First Name</th>
                                            <th>Patient Middle Initial</th>
                                            <th>Patient Last Name</th>
                                            <th>Email</th>
                                            <th>Age</th>
                                            <th>Birthday</th>
                                            <th>Gender</th>
                                            <th>Contact Details</th>
                                            <th>Province</th>
                                            <th>City/Municipality</th>
                                            <th>Barangay</th>
                                            <th>Street</th>
                                            <th>Status</th>
                                            <th>Occupation</th>
                                            <th>Date</th>
                                            <th>Number of Visit</th>
                                        </tr>  
                                    </tfoot>  
                                    <tbody>
                                        {% for patient in patients %}
                                        <tr onclick="window.location.href='/patient/{{ patient['patient_id'] }}';" style="cursor: pointer;">
                                            <td>{{ patient.patient_id }}</td>
                                            <td>{{ patient.patient_fname }}</td>
                                            <td>{{ patient.patient_minitial }}</td>
                                            <td>{{ patient.patient_lname }}</td>
                                            <td>{{ patient.email }}</td>
                                            <td>{{ patient.age }}</td>
                                            <td>{{ patient.birthday }}</td>
                                            <td>{{ patient.gender }}</td>
                                            <td>{{ patient.contact_details }}</td>
                                            <td>{{ patient.province }}</td>
                                            <td>{{ patient.city }}</td>
                                            <td>{{ patient.barangay }}</td>
                                            <td>{{ patient.street }}</td>
                                            <td>{{ patient.status }}</td>
                                            <td>{{ patient.occupation }}</td>
                                            <td>{{ patient.date }}</td>
                                            <td>{{ patient.number_of_visit }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>  
                        </div>  
                    </div>  

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Eye Can See Optical 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
      $(document).ready(function () {
        $('#dataTable').DataTable();
      });
    </script>


    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/datatables-demo.js"></script>

</body>

</html>